.u-section-1 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 138px 800px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 345px;
  width: 225px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 225px;
  font-weight: 700;
  margin: -57px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -57px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 462px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 220px;
  height: 339px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -51px 25px 0 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 462px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 220px;
  height: 333px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -45px 49px 0 53px;
}

.u-section-1 .u-layout-wrap-2 {
  margin: -2px auto 60px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-5 {
  height: 345px;
  width: 225px;
  filter: brightness(0.6);
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  width: 225px;
  font-weight: 700;
  margin: -57px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -57px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 220px;
  height: 339px;
  filter: brightness(0.55);
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  margin: -51px 0 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-8 {
  width: 220px;
  height: 333px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1957px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1058px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-1 .u-image-2 {
    height: 269px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-1 .u-image-3 {
    width: 175px;
    height: 270px;
    background-position: 50% 50%;
    margin-top: -71px;
    margin-left: auto;
    margin-right: -52px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
    margin-left: 570px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 381px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 265px;
    background-position: 50% 0%;
  }

  .u-section-1 .u-text-5 {
    margin-top: 23px;
    margin-right: 24px;
    margin-left: 28px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 335px;
  }

  .u-section-1 .u-image-5 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-text-6 {
    margin-top: -2px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 335px;
  }

  .u-section-1 .u-image-6 {
    height: 269px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 335px;
  }

  .u-section-1 .u-image-7 {
    width: 175px;
    height: 270px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-8 {
    margin-top: 18px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 335px;
  }

  .u-section-1 .u-image-8 {
    width: 175px;
    height: 265px;
    background-position: 50% 0%;
  }

  .u-section-1 .u-text-9 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3364px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -2174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -156px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 461px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 490px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -156px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 461px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2082px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5781px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -4009px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -378px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 799px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 350px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -378px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 799px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5263px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -3491px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -131px;
  }

  .u-section-1 .u-image-2 {
    height: 492px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -131px;
  }

  .u-section-1 .u-image-6 {
    height: 492px;
    margin-right: initial;
    margin-left: initial;
  }
}