.u-section-1 .u-sheet-1 {
  min-height: 472px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 81px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 388px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -35px auto 60px 394px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 188px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: -19px;
  }
}